<!doctype html>
<title>WordScout</title>

<head>
<style>
@font-face {
    font-family: nexa-bold;
    src: url("Nexa-Bold.otf") format("opentype");
}
@font-face {
    font-family: nexa-light;
    src: url("Nexa-Light.otf") format("opentype");
}
</style>
</head>
<!--
<form method="post">
  <input type=text name=search_term>
  <input type=submit value=Search>
</form>
-->
{% if video_urls %}-->

  <!--<h1>showing results for: {{ search_term }}</h1>-->
  <div style="width:100%;margin:0 auto">
  {% for video_url in video_urls %}
  <div style="height:415;width:33%;display:inline-block;">
    <iframe style="height:315" src="{{ video_url }}"></iframe>
	<div style="width:100%;margin:0 auto">
		<div style="display:inline-block;vertical-align:top"><span style="font-size:30px;font-family:nexa-bold;width:100px;margin-top:10px;display:inline-block"> Rate:</span>
		</div>
		<div style="display:inline-block">
			<div><img src="3_star_rating.svg" height="50px" width="150px" /></div>
			<div><span style="color:grey;font-size:11px;font-family:nexa-light">How helpful was this video?</span></div>
		</div>
	</div>
	
   </div>
  
  {% endfor %}
  </div>
{% else %}
  <h1>no results for: {{ search_term }}</h1>
{% endif %}
