<!doctype html>
<title>WordScout</title>

<head>
<style>
@font-face {
    font-family: nexa-bold;
    src: url("Nexa-Bold.otf") format("opentype");
}
@font-face {
    font-family: nexa-light;
    src: url("Nexa-Light.otf") format("opentype");
}

img:hover {
    cursor: pointer;
}
</style>
</head>

<div style="padding-left:50px; padding-top:100px; padding-right:50px">
<!--
<form method="post">
  <input type=text name=search_term>
  <input type=submit value=Search>
</form>
-->
{% if video_urls %}

  <!--<h1>showing results for: {{ search_term }}</h1>-->
  <div style="width:100%;margin:0 auto">
{% for video_url in video_urls %}
  
  <div style="height:415px;width:33%;display:inline-block;">
    <iframe width=420 height=315  src="{{ video_url }}"></iframe>
	<div style="width:100%;margin:0 auto">
		<div style="display:inline-block;vertical-align:top"><span style="font-size:15px;font-family:nexa-bold;margin-top:10px;display:inline-block"> Rate:</span>
		</div>
		<div style="display:inline-block; margin-top:8px">
			<div><img src="3_star_rating.svg" height="20px" width="100px" /></div>
			<div style="margin-top:-10px"><span style="color:grey;font-size:8px;font-family:nexa-light">How helpful was this video?</span></div>
		</div>
	</div>	
   </div>
   
  
  {% endfor %}
  </div>
{% else %}
  <h1>no results for: {{ search_term }}</h1>
{% endif %}

</div>
